<section class="hero2">
        <div class="hero-form" id="up">
            <h3 class="signin">Sign In</h3>
            <p>Already have an account? Sign in!</p>
            <form>
                <label for="username">Enter Your Username:</label>
                <input id="login-username" type="text" placeholder="Username" class="form-input">
                <label for="password">Enter Your Password:</label>
                <input id="login-pw" type="password" placeholder="Password" class="form-input">
                <button type="submit">
                    Sign In
                </button>
            </form>
        </div>
    </section>
        

<script src="/javascript/login.js"></script>
