 <div class="container d-flex justify-content-around mt-5">
            <div class="login-form">
                <h4>Login</h4>
            <form class="loginForm d-flex flex-column">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-input" id="login-username"/>
                <label class="form-label" for="password" >Password</label>
                <input type="password" class="form-input" id="login-pw"/>

                <button type="submit" class="btn bg-dark text-white mt-3">Login</button>
            </form>
        </div>
        <div class="login-form">
            <h4>Sign Up</h4>
            <form class="signup-form d-flex flex-column">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-input"  id="user-signup"/>
                <label class="form-label" for="email" >Email</label>
                <input type="text" class="form-input" id="email-signup"/>
                <label class="form-label" for="password" >Password</label>
                <input type="password" class="form-input" id="pw-signup"/>

                <button type="submit" class=" btn bg-dark text-white mt-3">Sign Up</button>
            </form>
        </div>
        </div>
        <script src="/javascript/login.js"></script>