<section class="hero2"> 
        <div class="hero-form" id="in">
            <h3 class="signin">Sign Up</h3>
            <p>Fill out this form to create an account!</p>
            <!--add form element-->
            <form>
                <label for="username">Enter A Username</label>
                <input id="user-signup" type="text" placeholder="Username" class="form-input" />
                <label for="password">Enter a Password:</label>
                <input type="password" placeholder="Password" class="form-input" />
                <label for="password">Verify Password:</label>
                <input id="pw-signup" type="password" placeholder="Verify Password" class="form-input" />
                <p>Password must be at least 6 characters</p>
                <button type="submit">
                    Sign Up
                </button>
            </form>
        </div>
    </section>
<script src="/javascript/register.js"></script>