<div class="container d-flex justify-content-around mt-5">
            
        <div class="login-form">
            <h4>Sign Up</h4>
            <form class="signup-form d-flex flex-column">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-input"  id="user-signup"/>
                <label class="form-label" for="password" >Password</label>
                <input type="password" class="form-input" id="pw-signup"/>
                <p>Password needs to be 6 character long.</p>
                <button type="submit" class=" btn bg-dark text-white mt-3">Sign Up</button>
            </form>
        </div>
        </div>
        <script src="/javascript/register.js"></script>