/*Broad Styling*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: blue;
    --secondary-color: #333333;
    --tertiary-color: white;
}

body {
    color: var(--tertiary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    padding: 60px;
}

/*----------------------------------------------------------*/

/*Style Header Section*/
header {
    font-family: 'Square Peg', cursive;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 20%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 5.00vw;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 3.0vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/*Header Section Styling Ends*/

/*----------------------------------------------------------*/

/*Style Footer Section*/
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}
/*Footer Section Styling Ends*/

/*----------------------------------------------------------*/


/*Style Hero Section*/
.hero {
    background-image: url("../assets/images/banner.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 20%;
    padding-top: 1px;
}


.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: black;
    font-size: 20px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-family: 'Square Peg', cursive;
    font-style: italic;
    font-size: 6.00vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Hero Section Styling Ends*/